public
apps/**/translations/**/default.json
LICENSE
README.md
CONTRIBUTING.md
Dockerfile
.dockerignore
docker-compose.yml
.devcontainer
.cache
.drone.yml
bin
kube
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.npmrc
test
coverage
sonar-project.properties
pull-request-template.md
hof-services-config
