<div class="govuk-details__text">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#computer-mac">
          Mac
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#computer-chromebook">
          Chromebook
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#computer-other">
          All other computers
        </a>
      </li>

    </ul>
    <section class="govuk-tabs__panel" id="computer-mac">
      <p>Try this:</p>
      <ul class="govuk-list--numeber">
        <li>Press the <strong> Shift</strong> key (⇧), <strong>command</strong> (or Cmd), and <strong>3</strong> </li>
        <li>The screenshot will be saved to your <strong>Desktop</strong> </li>
        <li>You can now upload it to the form </li>
      </ul>
      <p><a href="https://support.apple.com/en-us/HT201361">Get more help from Apple </a></p>
    </section>

    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="computer-chromebook">
      <p>Try this:</p>
      <ul class="govuk-list--numeber">
        <li>Press the <strong>Ctrl</strong> key and the <strong>switch window</strong> key</li>
        <li>The screenshot will be saved to your <strong>Downloads</strong></li>
        <li>You can now upload it to the form</li>
      </ul>
      <p>If that doesn’t work, try pressing <strong>Ctrl</strong> and <strong>F5</strong>.</p>
      <p><a href="https://www.androidcentral.com/how-take-screenshot-chromebook">Get more help from Android Central</a></p>
    </section>

    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="computer-other">
      <p>When viewing the material:</p>
      <ul class="govuk-list--numeber">
        <li>Press the Prt Scr key (or similar) to take a copy of your screen</li>
        <li>Paste the image into Microsoft Paint or a similar application</li>
        <li>Save the file to your computer</li>
        <li>Upload the file to the form</li>
      </ul>
      <p>If that doesn’t work, you may need to search for how to take screenshots on your particular computer model.</p>
    </section>
  </div>
</div>
