<div class="govuk-details__text">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#phone-iphone"  style="font-size: 24px;">
          iPhones
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#phone-other">
          All other phones and tablets
        </a>
      </li>

    </ul>
    <section class="govuk-tabs__panel" id="phone-iphone">
      <h2 class='govuk-heading-m'>How to take a screenshot on iPhone X or later</h2>
      <p>
        Press the <strong>side button</strong> and <strong>volume up</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
      </p>
      <!-- UPDATE WITH OUR OWN IMAGE -->
      <img class="source-help" src="{{assetPath}}/images/iphone-x.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
      <p>
        The screenshot will be saved to your photos.
      </p>

      <h2 class='govuk-heading-m'>How to take a screenshot on iPhone 8, 7, or 6</h2>
      <p>
        Press the <strong>side button</strong> and the <strong>home button</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
      </p>
      <!-- UPDATE WITH OUR OWN IMAGE -->
      <img class="source-help" src="{{assetPath}}/images/iphone-8.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
      <p>
        The screenshot will be saved to your photos.
      </p>

      <h2 class='govuk-heading-m'>How to take a screenshot on iPhone SE, 5, or earlier</h2>
      <p>
        Press the <strong>top button</strong> and the <strong>home button</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
      </p>
      <!-- UPDATE WITH OUR OWN IMAGE -->
      <img class="source-help" src="{{assetPath}}/images/iphone-5.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
      <p>
        The screenshot will be saved to your photos.
      </p>
      <p><a href="https://support.apple.com/en-us/HT200289">Get more help from Apple</a></p>

    </section>

    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="phone-other">
      <h2 class='govuk-heading-s'>Taking a photo of your screen on other phones and tablets</h2>
      <p>
        Press the power button and volume down at the exact same time, then quickly release.
      </p>
      <p>
        The screenshot should be saved in your Gallery or Pictures.
      </p>
      <p>
        If that doesn’t work, try:
      </p>
      <ul class="govuk-list--number">
        <li>Holding down the <strong>power button</strong> and the <strong>home button</strong> or <strong>home key</strong> on your phone’s screen </li>
        <li>Holding down the <strong>power button</strong> and the <strong>volume up</strong> at the same time.</li>
      </ul>
      <p><a href="#"></a></p>
    </section>

  </div>
</div>