{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.terrorism_reporting.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{#t}}journeys.terrorism_reporting.header{{/t}}{{/header}}

  {{$content}}
    <p>{{#t}}pages.terrorism_reporting.description{{/t}}</p>

    {{<partials-form}}
         
      {{$form}}

        <fieldset>

           <legend class="visuallyhidden">
              <span class="form-label-bold">{{#t}}fields.rtm-confirmation.legend{{/t}}</span>
            </legend>

            {{#values.report}}
              <h2>{{#t}}pages.rtm-confirmation.check-details{{/t}}</h2>
	      <div class="confirmation">
                <div>
                  <h3>{{#t}}fields.url.short{{/t}}</h3>
		  <div class="data-wrap">
		    <p>{{url}}</p>
		  </div>
		  <a href="" class="change">
                    {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.url{.short{{/t}}</span>
		  </a>
                </div>
                <div>
		  <h3>{{#t}}fields.location.short{{/t}}</h3>
		  <div class="data-wrap">
                    <p>{{content_locate_hint}}</p>
		  </div>
		  <a href="" class="change">
		    {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.location.short{{/t}}</span>
		  </a>
                </div>
                <div>
		  <h3>{{#t}}fields.description.short{{/t}}</h3>
		  <div class="data-wrap">
                    <p>{{content_description}}</p>
		  </div>
		  <a href="" class="change">
		    {{#t}}buttons.change{{/t}}<span class="visuallyhidden"> {{#t}}fields.description.short{{/t}}</span>
		  </a>
                </div>
              </div>
            {{/values.report}}

	    <a href="">{{#t}}pages.rtm-confirmation.add-another{{/t}}</a>
        </fieldset>

        <fieldset>
          <legend class="visuallyhidden">
            <span class="form-label-bold">{{#t}}pages.rtm-confirmation.anonymous{{/t}}</span>
          </legend>
	  <div class"label">{{#t}}pages.rtm-confirmation.anonymous{{/t}}</div>
	  {{#radio-group}}anonymous{{/radio-group}}
        </fieldset>

        {{#input-submit}}send{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
