{{<layout}}

  {{$journeyHeader}}
  {{#t}}journeys.terrorism_reporting.details-header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
  {{> partials-navigation}}
  {{/propositionHeader}}

  {{$content}}
  
  <div class="alert-complete" role="alert">
    <span class="icon icon-complete" role="presentation"></span>
    <div class="alert-message">
      <h1>{{#t}}pages.rtm-completion.header{{/t}}</h1>
    </div>
  </div>

  <hr>

  <div>
    <p>{{#t}}pages.rtm-completion.content-thankyou{{/t}}</p>

    <h2>{{#t}}pages.rtm-completion.content-whats-next{{/t}}</h2>
    
    <p>{{#t}}pages.rtm-completion.content-copy-sent{{/t}}</p>

    {{#email}}
    <p>{{#t}}pages.rtm-completion.content-contact-details{{/t}}</p>
    {{/email}}

    <p>{{#t}}pages.rtm-completion.content-more{{/t}} <a href="{{baseUrl}}">{{#t}}pages.rtm-completion.content-more-link{{/t}}</a></p>
    
    <p><a href="https://eforms.homeoffice.gov.uk/outreach/Feedback.ofml?FormName=terrorism_reporting/">{{#t}}pages.rtm-completion.content-feedback-link{{/t}}</a> {{#t}}pages.rtm-completion.content-feedback-time{{/t}} </p>
    
  </div>


  {{/content}}

{{/layout}}
