{{<layout}}

  {{$journeyHeader}}
  {{#t}}journeys.terrorism_reporting.details-header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
  {{> partials-navigation}}
  {{/propositionHeader}}

     {{$header}}
     {{#t}}boilerplate.cookies.page-title{{/t}}
     {{/header}}
     
     {{$content}}
     <p>{{#t}}boilerplate.cookies.page-content.service-description{{/t}}</p>
     <ul class="list-bullet">
       <li>{{#t}}boilerplate.cookies.page-content.reason-remember-messages{{/t}}</li>
       <li>{{#t}}boilerplate.cookies.page-content.reason-understand-usage{{/t}}</li>
       <li>{{#t}}boilerplate.cookies.page-content.reason-temporary-store{{/t}}</li>
     </ul>
     <div class="panel-indent">
       <p>{{#t}}boilerplate.cookies.page-content.no-personal-identification{{/t}}</p>
     </div>
     <p>{{#t}}boilerplate.cookies.page-content.find-out{{/t}} <a href="http://www.aboutcookies.org/Default.aspx?page=1" rel="external">{{#t}}boilerplate.cookies.page-content.how-to-manage{{/t}}</a>.</p>
     <h2>{{#t}}boilerplate.cookies.page-headings.intro-cookie-message{{/t}}</h2> 
     <p>{{#t}}boilerplate.cookies.page-content.cookie-message{{/t}}</p>
     <table>
       <tbody>
         <tr>
           <th>{{#t}}boilerplate.cookies.page-content.cookie-message-table.headings.name{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.cookie-message-table.headings.purpose{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.cookie-message-table.headings.expires{{/t}}</th>
         </tr>
         <tr>
           <td>{{#t}}boilerplate.cookies.page-content.cookie-message-table.content.name{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.cookie-message-table.content.purpose{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.cookie-message-table.content.expires{{/t}}</td>
         </tr>
       </tbody>
     </table>  

     <h2>{{#t}}boilerplate.cookies.page-headings.measuring-site-use{{/t}}</h2>
     <p>{{#t}}boilerplate.cookies.page-content.google-analytics{{/t}}</p>
     <p>{{#t}}boilerplate.cookies.page-content.ga-info{{/t}}</p>

     <ul class="list-bullet">
       <li>{{#t}}boilerplate.cookies.page-content.ga-info-referral{{/t}}</li>
       <li>{{#t}}boilerplate.cookies.page-content.ga-info-visits{{/t}}</li>
       <li>{{#t}}boilerplate.cookies.page-content.ga-info-clicks{{/t}}</li>
     </ul>

     <p>{{#t}}boilerplate.cookies.page-content.ga-identification{{/t}}</p>
     
     <table>
       <tbody>
         <tr>
           <th>{{#t}}boilerplate.cookies.page-content.ga-table.headings.name{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.ga-table.headings.purpose{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.ga-table.headings.expires{{/t}}</th>
         </tr>
         <tr>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.name_a{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.purpose_a{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.expires_a{{/t}}</td>
         </tr>
         <tr>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.name_b{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.purpose_b{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.ga-table.content.expires_b{{/t}}</td>
         </tr>
       </tbody>
     </table>  

     <div class="panel-indent">
       <p>{{#t}}boilerplate.cookies.page-content.ga-sharing{{/t}}</p>
     </div>

     <p>{{#t}}boilerplate.cookies.page-content.ga-opt-out-pre{{/t}} <a href="https://tools.google.com/dlpage/gaoptout" rel="external">{{#t}}boilerplate.cookies.page-content.ga-opt-out-link{{/t}}</a>.</p>


     <h2>{{#t}}boilerplate.cookies.page-headings.session-cookies{{/t}}</h2>
     <p>{{#t}}boilerplate.cookies.page-content.session-cookies{{/t}}</p>

     <table>
       <tbody>
         <tr>
           <th>{{#t}}boilerplate.cookies.page-content.session-cookies-table.headings.name{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.session-cookies-table.headings.purpose{{/t}}</th>
           <th>{{#t}}boilerplate.cookies.page-content.session-cookies-table.headings.expires{{/t}}</th>
         </tr>
         <tr>
           <td>{{#t}}boilerplate.cookies.page-content.session-cookies-table.content.name{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.session-cookies-table.content.purpose{{/t}}</td>
           <td>{{#t}}boilerplate.cookies.page-content.session-cookies-table.content.expires{{/t}}</td>
         </tr>
       </tbody>
     </table>  

     {{/content}}
       
       {{/layout}}
       
