{{<partials-page}}
  {{$page-content}}
    {{^additional-report}}
      <p class="panel-indent">{{#t}}pages.reports.cta-999{{/t}}</p>
      <p>{{#t}}pages.reports.advice-additional-reports{{/t}}</p>
    {{/additional-report}}
    {{#additional-report}}
      {{> partials-additional-report-header}}
    {{/additional-report}}
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#editing}}
      {{#input-submit}}edit{{/input-submit}}
    {{/editing}}
    {{^editing}}
      {{#input-submit}}next{{/input-submit}}
    {{/editing}}
    {{#additional-report}}
      <a href="{{baseUrl}}/confirm" class="btn">
        {{#t}}buttons.cancel{{/t}}
      </a>
    {{/additional-report}}
  {{/page-content}}
{{/partials-page}}
