{{<layout}}

  {{$journeyHeader}}
  {{#t}}journeys.terrorism_reporting.details-header{{/t}}
  {{/journeyHeader}}

  {{$propositionHeader}}
  {{> partials-navigation}}
  {{/propositionHeader}}


{{$header}}
  {{#t}}boilerplate.terms.page-title{{/t}}
{{/header}}

{{$content}}
  <h2>{{#t}}boilerplate.terms.page-headings.how-information-used{{/t}}</h2>
  <p>{{#t}}boilerplate.terms.page-content.hopic-pre{{/t}} <a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter" rel="external">{{#t}}boilerplate.terms.page-content.hopic-link{{/t}}</a>. {{#t}}boilerplate.terms.page-content.hopic-explanation{{/t}}</p>

  <p>{{#t}}boilerplate.terms.page-content.how-information-helps{{/t}}</p>
  <ul class="list-bullet">
    <li>{{#t}}boilerplate.terms.page-content.how-information-helps-crime{{/t}}</li>
  </ul>

  <p>{{#t}}boilerplate.terms.page-content.third-parties{{/t}}</p>

  <p>{{#t}}boilerplate.terms.page-content.site-usage-data{{/t}}</p>

{{/content}}

{{/layout}}
