---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  name: {{ .APP_NAME }}-waf-admin-ui
  {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: {{ .APP_NAME }}-{{ .DRONE_SOURCE_BRANCH }}-waf-admin-ui
  {{ else }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: {{ .APP_NAME }}-waf-admin-ui
  {{ end }}
spec:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  replicas: 1
  {{ else }}
  replicas: 1
  {{ end }}
  selector:
    matchLabels:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      name: {{ .APP_NAME }}-{{ .DRONE_SOURCE_BRANCH }}-waf-admin-ui
      {{ else }}
      name: {{ .APP_NAME }}-waf-admin-ui
      {{ end }}
  template:
    metadata:
      labels:
        {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
        name: {{ .APP_NAME }}-{{ .DRONE_SOURCE_BRANCH }}-waf-admin-ui
        app: {{ .APP_NAME }}-{{ .DRONE_SOURCE_BRANCH }}-waf-admin-ui
        service: {{ .APP_NAME }}-{{ .DRONE_SOURCE_BRANCH }}-waf-admin-ui
        {{ else }}
        name: {{ .APP_NAME }}-waf-admin-ui
        app: {{ .APP_NAME }}-waf-admin-ui
        service: {{ .APP_NAME }}-waf-admin-ui
        {{ end }}
    spec:
      containers:
        - name: admin-ui
          image: 340268328991.dkr.ecr.eu-west-2.amazonaws.com/sas/hof-forms-waf-admin-ui:e3b5c82c8eb09389e1eccb5e3af8287ef85efba3
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              memory: 128Mi
              cpu: 15m
          ports:
            - containerPort: 8080
              name: admin
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
