{% extends "partials/page.html" %}
{% block pageContent %}
  <p>Your details will be shared with the Counter-Terrorism Internet Referral Unit in case they need more information. Your details will be kept confidential and won’t be used for any purposes other than those stated in the <a href="https://www.gov.uk/help/privacy-policy">privacy policy</a>.</p>
  {% for field in fields %}
    {{ renderField(field) }}
  {% endfor %}
  {{ inputSubmit("continue") }}
{% endblock %}


