  {{<partials-page}}
  {{$page-content}}
    <table class="table-details">
      <tbody>
        <tr>
          <th>{{#t}}pages.confirm.fields.urls.label{{/t}}</th>
          <td data-field="url" class="no-white-space">
            {{#urls.length}}
              <ul>
              {{#urls}}
                <li>{{.}}</li>
              {{/urls}}
              </ul>
            {{/urls.length}}
            {{^urls.length}}
              {{#t}}pages.confirm.undefined{{/t}}
            {{/urls.length}}
          </td>
          <td><a href="{{baseUrl}}/evidence-url/edit">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{#rows}}
          {{#fields}}
            <tr{{#className}} class="{{className}}"{{/className}}>
              <th>{{label}}</th>
              <td data-value="{{value}}" data-field="{{field}}">{{value}}</td>
              <td><a href="{{baseUrl}}{{step}}/edit#{{field}}" id="{{field}}-change">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          {{/fields}}
        {{/rows}}
        <tr>
          <th>{{#t}}pages.confirm.fields.image-preview.label{{/t}}</th>
          <td data-field="image" class="no-white-space">
            {{#images}}
              <p>{{name}}</p>
              <p><img src="{{thumbnail}}" alt="" /></p>
            {{/images}}
            {{^images.length}}
              {{#t}}pages.confirm.undefined{{/t}}
            {{/images.length}}
          </td>
          <td><a href="{{baseUrl}}/evidence-upload-confirm/edit" id="image-change">{{#t}}buttons.change{{/t}}</a></td>
        </tr>

      </tbody>
    </table>
    {{#input-submit}}send-report{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
