{{<partials-page}}
  {{$page-content}}
    <legend class="visuallyhidden">
      <span class="form-label-bold">{{#t}}fields.confirm.legend{{/t}}</span>
    </legend>
    <div class="confirmation">
      {{#reports}}
        {{> partials-summary-table}}
      {{/reports}}
      <div>
        <a id="additional-report" href="{{baseUrl}}/reports/new">{{#t}}pages.confirm.add-another{{/t}}</a>
      </div>
    </div>
    {{#radio-group}}anonymous{{/radio-group}}
    {{#input-submit}}send{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
