{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
    <p>This could be an image or video, for example. Evidence is helpful should the material be deleted before we can find it. </p>
    <p>It’s safe to save evidence to your device for the purpose of reporting it to us. We recommend deleting it afterwards.</p>
    {{>partials-help-screenshots}}

    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
