{{<partials-page}}
  {{$page-content}}
    {{#markdown}}image{{/markdown}}
    <div class="file-upload">
      <input name="file-upload" id="file-upload" type="file" accept=".png, .jpg, .jpeg">
      {{#input-submit}}submit image-submit{{/input-submit}}
    </div>
    <button type="button" id="add-image-button" class="button add-image-button visuallyhidden">{{#t}}buttons.add-image{{/t}}</button>
    <div class="link-margin">
      <p><a href="/check-your-report">{{#t}}pages.image.link{{/t}}</a></p>
    </div>
  {{/page-content}}
{{/partials-page}}
