apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
data:
  redis.conf: |
    bind 0.0.0.0
    protected-mode no
    appendonly yes
    dir /data
    # User-supplied master configuration:
    rename-command FLUSHDB ""
    rename-command FLUSHALL ""
    # End of master configuration
    # User-supplied common configuration:
    maxmemory 256mb
    maxmemory-policy allkeys-lru
    notify-keyspace-events KEA
    # End of common configuration
